body {
    background-color: white;
}

input {
    margin: 8px 0;
    width: 80px;
}

.content {
    max-width: 1440px;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

td {
    min-width: 150px;
}

td.index {
    min-width: 50px;
}

md-input-container .md-errors-spacer {
    min-height: 0px !important;
}

.listdemoBasicUsage md-divider {
    margin-top: 10px;
    margin-bottom: 0;
}

a {
    cursor: pointer;
    color: blue;
}

a:hover, a.hover {
    text-decoration: underline;
}

.md-subheader .md-subheader-content {
    min-height: 2.5em;
}

.highlightCombo {
    background-color: yellow;
}

.highlightSkip {
    background-color: lightblue;
}

.combo-listitem{
    height: 3.5em;
}

.collapse-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    #background-color: #f1f1f1;
    border: 5px solid lightblue;
}

.hide-column {
    align-self: flex-end;
    font-size: 0.7em;
}
.hide-column > input {
  width: 13px;
  accent-color: rgb(255,89,145);
}
